.navbar{
    list-style: none;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
}

.welcome{
    color: #c96161;
}

// .navbar a {
//     color: #000000;
// }